:root {
    --primary-color: #0077b6;
    --secondary-color: #a2d2ff;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 10px;
    background-color: var(--primary-color);
}

h1 {
    color: var(--secondary-color);
    font-size: 4rem;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 10cm;
}

.choice {
    border: none;
    background: none;
    cursor: pointer;
}

.choice:hover {
    border: 1rem solid;
    opacity: 0.5;
    transition: 0.3s;
}

#rock:hover {
    border-color: #f083a2;
}

#paper:hover {
    border-color: #c38edc;
}

#scissors:hover {
    border-color: #7facff;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 10cm;
}

.msg-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#msg {
    background-color: #71816d;
    font-size: x-large;
    border: 2px solid black;
    padding: 1rem;
}